@charset "UTF-8";
/* @import url'normalize.css' */
@import url(contents.css);
@import url(board.css);
@import url(common.css);
* { margin: 0; padding: 0; }

#skipToContent, #returnToPageTop { display: none; }

#wrap { height: 100%; }

#header { overflow: hidden; width: 100%; height: auto; background: #4f5765; }

#header h1 { display: inline-block; font-size: .24rem; font-weight: 700; color: #01a6d5; padding: 0 .25rem; }

.gnb { float: right; overflow: hidden; padding: .2rem .25rem .1rem; }

.gnb li { display: inline-block; font-size: .12rem; color: #fff; }

.gnb li:before { content: ''; display: inline-block; margin: 0 .1rem; width: 1px; height: .1rem; background: #eaeaea; }

.gnb li:first-child:before { content: none; }

.gnb li:last-child a { display: inline-block; width: .7rem; height: .26rem; line-height: .24rem; text-align: center; border: 1px solid #6d737f; background: #424854; }

.lnb { clear: both; height: .7rem; padding-left: 2rem; background: #424854; }

.lnb > ul > li { display: inline-block; position: relative; margin-left: .8rem; padding: .1rem 0; font-size: .2rem; }

.lnb > ul > li:first-child { margin-left: 0; }

.lnb > ul > li:first-child > ul { margin-left: 0; left: 0; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.lnb > ul > li:last-child > ul { margin-left: 0; right: 0; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.lnb > ul > li > a { color: #999; font-size: .2rem; font-weight: 700; }

.lnb > ul > li > a.current { color: #fff; }

.lnb > ul > li > ul { visibility: hidden; position: absolute; bottom: -.27rem; padding: 0 .1rem; white-space: nowrap; background: #4f5765; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.lnb > ul > li > ul > li { display: inline-block; padding: .05rem 0; color: #bbb; font-size: .12rem; }

.lnb > ul > li > ul > li:before { content: ''; display: inline-block; width: 1px; height: .1rem; margin: 0 .1rem 0 .06rem; background: #bbb; }

.lnb > ul > li > ul > li:first-child:before { content: none; }

.lnb > ul > li > ul > li a.current { color: #fff; }

.lnb > ul > li > ul > li.last { display: none; }

#container { display: table; min-height: 100%; min-height: calc(100% - 1.29rem); margin-bottom: -4px; }

#leftcolumn { display: table-cell; width: 2rem; vertical-align: top; background: #ecedee; }

#leftcolumn h2.tit { height: .6rem; line-height: .6rem; text-indent: .2rem; font-size: .2rem; font-weight: 700; color: #fff; background: #424854; }

.snb > ul > li > a { display: block; height: .35rem; line-height: .35rem; font-size: .16rem; font-weight: 700; text-indent: .22rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.snb > ul > li > a.current { color: #fff; background: #01a6d5; }

.snb > ul > li > ul { padding: .1rem 0 .1rem .22rem; }

.snb > ul > li > ul > li { line-height: .26rem; font-size: .16rem; font-weight: 700; }

.snb > ul > li > ul > li:before { content: '· '; }

.snb > ul > li > ul > li a.current { color: #01a6d5; }

#rightcolumn { display: table-cell; padding: .3rem; }

.location { overflow: hidden; margin-bottom: .2rem; padding-bottom: .2rem; border-bottom: 2px solid #e3e3e3; }

.location fieldset { float: right; }

.location p { margin-top: .12rem; font-size: .12rem; color: #999; word-spacing: .1rem; }

.location p span:before { content: url(/siteAdm/inc/img/common/icon_home.png); content: url(/siteAdm/inc/img/common/icon_home.svg); display: inline-block; margin-right: .05rem; }

.location h2 { font-size: .28rem; }
