@import '../../../inc/sass/shortcut.sass'
@import url(contents.css)
@import url(board.css)
@import url(common.css)

*
	margin: 0
	padding: 0
#skipToContent, #returnToPageTop
	display: none

#wrap
	height: 100%
#header
	overflow: hidden
	width: 100%
	height: auto
	background: #4f5765
	h1
		display: inline-block
		font-size: .24rem
		font-weight: 700
		color: #01a6d5
		padding: 0 .25rem
.gnb
	float: right
	overflow: hidden
	padding: .2rem .25rem .1rem
	li
		display: inline-block
		font-size: .12rem
		color: #fff
		&:before
			content: ''
			display: inline-block
			margin: 0 .1rem
			width: 1px
			height: .1rem
			background: #eaeaea
		&:first-child:before
			content: none
		&:last-child a
			display: inline-block
			width: .7rem
			height: .26rem
			line-height: .24rem
			text-align: center
			border: 1px solid #6d737f
			background: #424854
$left-width: 2rem
.lnb
	clear: both
	height: .7rem
	padding-left: $left-width
	background: #424854
	> ul
		> li
			display: inline-block
			position: relative
			margin-left: .8rem
			padding: .1rem 0
			font-size: .2rem
			&:first-child
				margin-left: 0
				> ul
					margin-left: 0
					left: 0
					+transform(translateX(0))
			&:last-child
				> ul
					margin-left: 0
					right: 0
					+transform(translateX(0))
			> a
				color: #999
				font-size: .2rem
				font-weight: 700
				&.current
					color: #fff
			> ul
				visibility: hidden
				position: absolute
				bottom: -.27rem
				padding: 0 .1rem
				white-space: nowrap
				background: #4f5765
				+transform(translateX(-50%))
				> li
					display: inline-block
					padding: .05rem 0
					color: #bbb
					font-size: .12rem
					&:before
						content: ''
						display: inline-block
						width: 1px
						height: .1rem
						margin: 0 .1rem 0 .06rem
						background: #bbb
					&:first-child:before
						content: none
					a.current
						color: #fff
					&.last
						display: none
#container
	display: table
	min-height: 100%
	min-height: calc(100% - 1.29rem)
	margin-bottom: -4px
#leftcolumn
	display: table-cell
	width: $left-width
	vertical-align: top
	background: #ecedee
	h2.tit
		height: .6rem
		line-height: .6rem
		text-indent: .2rem
		font-size: .2rem
		font-weight: 700
		color: #fff
		background: #424854
.snb
	> ul
		> li
			> a
				display: block
				height: .35rem
				line-height: .35rem
				font-size: .16rem
				font-weight: 700
				text-indent: .22rem
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
				&.current
					color: #fff
					background: #01a6d5
			> ul
				padding: .1rem 0 .1rem .22rem
				> li
					line-height: .26rem
					font-size: .16rem
					font-weight: 700
					&:before
						content: '· '
					a.current
						color: #01a6d5
#rightcolumn
	display: table-cell
	padding: .3rem
.location
	overflow: hidden
	margin-bottom: .2rem
	padding-bottom: .2rem
	border-bottom: 2px solid #e3e3e3
	fieldset
		float: right
	p
		margin-top: .12rem
		font-size: .12rem
		color: #999
		word-spacing: .1rem
		span
			&:before
				content: url(/siteAdm/inc/img/common/icon_home.png)
				content: url(/siteAdm/inc/img/common/icon_home.svg)
				display: inline-block
				margin-right: .05rem
	h2
		font-size: .28rem
