/* @import url'normalize.css' */
=setting
	*
		margin: 0
		padding: 0
		-webkit-box-sizing: border-box
		box-sizing: border-box
		-moz-text-size-adjust: none
		-ms-text-size-adjust: none
		-webkit-text-size-adjust: none
		-webkit-font-smoothing: antialiased
		-moz-font-smoothing: antialiased
		word-break: break-all
		word-wrap: break-word
	a
		text-decoration: none
		color: inherit
		font-size: inherit
		font-family: inherit
		line-height: inherit
		text-align: inherit
	table, .table
		border-collapse: collapse
		table-layout: fixed
	fieldset
		border: none
		width: auto
		height: auto
		margin: 0
		padding: 0
		display: inline-block
	ul, li, ol
		list-style-type: none
	legend, caption, .caption
		overflow: hidden
		width: 1px
		height: 1px
		font-size: 1px
		line-height: 1px
		text-indent: -9999px
	input, select, textarea /*아이폰 둥근 모서리 없애기, select 기본 외형 감추기*/
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		border-radius: 0
		font-family: inherit
		font-size: inherit
		background: #fff
		border: 1px solid #cdcdcd
	select::-ms-expand /*IE10, IE11 select 기본 외형 감추기*/
	  display: none

	/* Global css */
	.hidden
		display: none
	.fl
		float: left
	.fr
		float: right
	.f_none
		float: none
	.clear
		clear: both
	.txt_left
		text-align: left
	.txt_right
		text-align: right
	.txt_center
		text-align: center

=placeholder($font-family, $font-size, $color)
	input::-webkit-input-placeholder /* Chrome/Opera/Safari */
		font-family: $font-family
		font-size: $font-size
		color: $color
	input::-moz-placeholder /* Firefox 19+ */
		font-family: $font-family
		font-size: $font-size
		color: $color
	input:-ms-input-placeholder /* IE 10+ */
		font-family: $font-family
		font-size: $font-size
		color: $color
	input:-moz-placeholder /* Firefox 18- */
		font-family: $font-family
		font-size: $font-size
		color: $color


=transform($val)
	-webkit-transform: $val
	-ms-transform: $val
	transform: $val
=opacity($val)
	opacity: $val
	filter: alpha(opacity=($val * 100))
	-ms-filter: alpha(opacity=($val * 100))
	-moz-opacity: $val
	-khtml-opacity: $val

// flex에 관한 설정들
=display-flex
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-js-display: flex
=flex($values)
	-webkit-box-flex: $values
	-moz-box-flex:  $values
	-webkit-flex:  $values
	-ms-flex:  $values
	flex:  $values
	-js-flex: $values
=order($val)
	-webkit-box-ordinal-group: $val
	-moz-box-ordinal-group: $val
	-ms-flex-order: $val
	-webkit-order: $val
	order: $val
	-js-order: $val
=align-items($val)
	-webkit-flex-align: $val
	-moz-flex-align: $val
	-ms-flex-align: $val
	align-items: $val
	-js-flex-align: $val
=flex-direction($val)
	-webkit-flex-direction: $val
	-moz-flex-direction: $val
	-ms-flex-direction: $val
	flex-direction: $val
	-js-flex-direction: $val
=justify-content($val)
	-webkit-justify-content: $val
	-moz-justify-content: $val
	justify-content: $val
	-webkit-flex-pack: $val
	-moz-flex-pack: $val
	-ms-flex-pack: $val
	-js-flex-pack: $val
=align-content($val)
	align-content: $val
	-webkit-align-content: $val
	-moz-align-content: $val
	-ms-align-content: $val
	-js-align-content: $val
=flex-wrap($val)
	flex-wrap: $val
	-webkit-flex-wrap: $val
	-moz-flex-wrap: $val
	-ms-flex-wrap: $val
	-js-flex-wrap: $val
=align-self($val)
	-webkit-align-self: $val
	-moz-align-self: $val
	-ms-align-self: $val
	align-self: $val
